
.n_btn {
    text-align: right;
    height: 50px;
}

.next_button {
    padding: 8px;
    
    margin-right: 20px;

    text-decoration: none;
    color: white;
    background-color: rgba(74, 94, 247, 0.9);
    border: black;
    border-radius: 10px;

}


.title_area {
    /* background-color: aqua; */
    /* height: 70px; */
    /* height: 90px; */
    /* width: 80%; */
    margin: 0 auto;
}

.t_name {
    text-align: center;
    margin-bottom: 0%;
}

.t_box {
    width: 95%;
    margin: 0 auto;
    height: 30px;
}

.t_line {
    background-color: brown;
    height: 2px; 
}

.t_amens {
    text-align: right;
    margin: 0;
}


.img_area {
    margin-top: 10px;
    text-align: center;

    /* height: 500px;
    width: 500px;
    position: relative; */
}

.img {
    max-width: 700px;
    width: 90%;
    /* position: absolute; */
}


.trump_img {
    max-width: 400px;
    width: 80%;
}

.space_area {
    height: 100px;
}

.text_area {
    /* background-color: blue; */
    /* height: 50px; */
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
}

.t_a {
    margin-top: 20px;
    margin-bottom: 40px;
}

.info_area {
    margin-top: 30px;
    /* background-color: green; */
    height: 400px;
    /* max-width: 650px; */
    width: 100%;
    margin: 0 auto;
}

.info_name {
    background-color: white;
}

.i_line {
    background-color: brown;
    height: 2px; 
}

.i_textname {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.infomation {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 650px;
    width: 90%;
}

.i_line2 {
    background-color: rgb(67, 67, 67);
    height: 2px; 
}

.i_t_area {
    /* background-color: aqua; */
    /* height: 30px; */
    display: flex;
}

.i_title {
    background-color: rgb(239, 239, 239);
    /* height: 20px; */
    width: 30%;
}

.i_info {
    background-color: white;
    /* height: 20px; */
    width: 70%;
}

.i_text {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}