<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>8〜10月</title>
    <link rel="stylesheet" href="/static/css/template.css">
    <link rel="stylesheet" href="/static/css/info.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <script>
        function confirmLogout() {
            return confirm("本当にログアウトしますか？");
        }

        // 一定スクロール時ヘッダー消える
        $(function() {
	        var headerHeight = $('header').outerHeight(),
		        startPos = 0;
	        $(window).on('load scroll', function() {
                var scrollPos = $(this).scrollTop();
                // if ( scrollPos > startPos && scrollPos > headerHeight ) {
                if ( scrollPos > startPos) {
                    $('header').css('top', '-' + headerHeight + 'px');
                } else {
                    $('header').css('top', '0');
                }
                startPos = scrollPos;
            });
        });	
    </script>

</head>
<body>
    <header>
        <div class="aaa">
            <img class="h_icon" src="{{ url_for('static', filename='images/AIT.jpeg') }}" alt="" width="50" height="50">
            <h3 class="h_title">愛工大スタンプラリー</h3>
            <a class="logout btn btn--orange btn--radius" href="{{ url_for('logout') }}" onclick="return confirmLogout()">ログアウト</a>
        </div>
        <nav id="g_navi">
            <ul>
                <li><a href="{{ url_for('stamp') }}">スタンプラリー</a></li>
                <span class="h_line"></span>
                <li><a href="{{ url_for('info_home') }}">施設情報</a></li>
                <span class="h_line"></span>
                <li><a href="{{ url_for('game') }}">カードゲーム</a></li>
            </ul>
        </nav>
    </header>


  <section>

        <div class="title_area">
            <h2 class="t_name">AITプラザ</h2>
            <div class="t_box">
                <div class="t_line"></div>
                <p class="t_amens">🍴食事　📖学習　🏪コンビニ</p>
            </div>
        </div>

        <div class="img_area">
            <img class="img" src="{{ url_for('static', filename='images/info/aitp.jpg') }}" alt="">
        </div>

        <div class="text_area">
            <p>AITプラザは、学生の学業・生活を多方面から支える中心的な施設として、日常的に多くの学生が利用しています。</p>
            <!-- <p class="t_a">なんでも揃うキャンパス内で唯一のコンビニです!</p> -->
            <!-- <p class="t_a">お昼時は混雑するので、朝のうちに昼ごはんを買っておくのがおすすめ!</p> -->
        </div>

        <div class="info_area">
            <div class="info_name">
                <div class="i_line"></div>
                <h3 class="i_textname">施設情報</h3>
                <div class="i_line"></div>
            </div>

            <div class="infomation">

                <div class="i_line2"></div>
                <div class="i_t_area">
                    <div class="i_title">
                        <p class="i_text">営業時間</p>
                    </div>
                    <div class="i_info">
                        <p class="i_text">月、火、水、木、金</p>
                        <p class="i_text">11:00 ~ 14:00</p>
                    </div>
                </div>

                <div class="i_line2"></div>
                <div class="i_t_area">
                    <div class="i_title">
                        <p class="i_text">電話番号</p>
                    </div>
                    <div class="i_info">
                        <p class="i_text">000-0000-0000</p>
                    </div>
                </div>

                <div class="i_line2"></div>
            </div>
        </div>

        <div class="space_area"></div>

    </section>

    <footer>
        <div class="n_btn">
            <!-- {% if total_stamps < 10 %}
                <a class="next_button" href="{{ url_for('stamp') }}">次のスタンプを取る→</a>
            {% endif %}

            {% if total_stamps == 10 %}
                <a class="next_button" href="{{ url_for('stamp') }}">スタンプラリー画面に戻る→</a>
            {% endif %} -->


            {% if total_stamps < 4 %}
                <a class="next_button" href="{{ url_for('stamp') }}">次のスタンプを取る→</a>
            {% endif %}

            {% if total_stamps == 4 %}
                <a class="next_button" href="{{ url_for('game') }}">カードゲーム画面へ→</a>
            {% endif %}
        </div>
    </footer>

</body>
</html>