<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>6〜7月</title>
    <link rel="stylesheet" href="/static/css/template.css">
    <link rel="stylesheet" href="/static/css/info.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <script>
        function confirmLogout() {
            return confirm("本当にログアウトしますか？");
        }

        // 一定スクロール時ヘッダー消える
        $(function() {
	        var headerHeight = $('header').outerHeight(),
		        startPos = 0;
	        $(window).on('load scroll', function() {
                var scrollPos = $(this).scrollTop();
                // if ( scrollPos > startPos && scrollPos > headerHeight ) {
                if ( scrollPos > startPos) {
                    $('header').css('top', '-' + headerHeight + 'px');
                } else {
                    $('header').css('top', '0');
                }
                startPos = scrollPos;
            });
        });	
    </script>

</head>
<body>
    <header>
        <div class="aaa">
            <img class="h_icon" src="{{ url_for('static', filename='images/AIT.jpeg') }}" alt="" width="50" height="50">
            <h3 class="h_title">愛工大スタンプラリー</h3>
            <a class="logout btn btn--orange btn--radius" href="{{ url_for('logout') }}" onclick="return confirmLogout()">ログアウト</a>
        </div>
        <nav id="g_navi">
            <ul>
                <li><a href="{{ url_for('stamp') }}">スタンプラリー</a></li>
                <span class="h_line"></span>
                <li><a href="{{ url_for('info_home') }}">施設情報</a></li>
                <span class="h_line"></span>
                <li><a href="{{ url_for('game') }}">カードゲーム</a></li>
            </ul>
        </nav>
    </header>


    <section>

        <div class="title_area">
            <h2 class="t_name">キャリアセンター</h2>
            <div class="t_box">
                <div class="t_line"></div>
                <p class="t_amens">🏃就職</p>
            </div>
        </div>

        <div class="img_area">
            <img class="img csr1" src="{{ url_for('static', filename='images/info/career.webp') }}" alt="">
        </div>

        <div class="text_area">
            <p class="t_a">本学では、学生一人ひとりが自分の能力・適性に応じた進路が選択できるよう、キャリアセンターと各専攻就職担当教員との間で緊密な連携をとりながら就職支援にあたっています。
                キャリアセンターにおいては、就活に臨む心構えから就活のノウハウを培う就職ガイダンス、履歴書や面接対策などを実践形式で行う就職力向上講座、年間1,200社以上の企業とのマッチングの場となる学内企業研究会など、多彩なプログラムで就活生をサポートしています。また、就職相談、添削指導や面接練習などの個人面談は手厚く、障害学生の支援もきめ細やかに行っています。企業と学生とのマッチングにも積極的に対応しており、ミスマッチのない納得のいく就職が実現できるよう日々努めています。そうした積み重ねにより高い実就職率を実現しています。なお、自らキャリアを切り拓いていく力を育むため、インターンシップへの参加を促す取り組みや、キャリアの幅を広げる資格講座の開講、キャリア教育の一環で行うキャリアガイダンスなど、自己理解・企業理解を深め、キャリア発達を促す取り組みにも注力しています。
                今後も、学生の主体的な挑戦を促すとともに、納得のいく進路を実現できるよう教職員一丸となって取り組んで参ります。</p> 
        </div>

        <div class="info_area">
            <div class="info_name">
                <div class="i_line"></div>
                <h3 class="i_textname">施設情報</h3>
                <div class="i_line"></div>
            </div>

            <div class="infomation">

                <div class="i_line2"></div>
                <div class="i_t_area">
                    <div class="i_title">
                        <p class="i_text">営業時間</p>
                    </div>
                    <div class="i_info">
                        <p class="i_text">月、火、水、木、金</p>
                        <p class="i_text">8:00 ~ 20:00</p>
                    </div>
                </div>

                <div class="i_line2"></div>
                <div class="i_t_area">
                    <div class="i_title">
                        <p class="i_text">電話番号</p>
                    </div>
                    <div class="i_info">
                        <p class="i_text">000-0000-0000</p>
                    </div>
                </div>

                <div class="i_line2"></div>
            </div>
        </div>

        <div class="space_area"></div>
        
    </section>

    <footer>
        <div class="n_btn">
            {% if total_stamps < 4 %}
                <a class="next_button" href="{{ url_for('stamp') }}">次のスタンプを取る→</a>
            {% endif %}

            {% if total_stamps == 4 %}
                <a class="next_button" href="{{ url_for('game') }}">カードゲーム画面へ→</a>
            {% endif %}
        </div>
    </footer>

</body>
</html>