<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>施設情報</title>
    <link rel="stylesheet" href="/static/css/template.css">
    <link rel="stylesheet" href="/static/css/info_home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <script>
        function confirmLogout() {
            return confirm("本当にログアウトしますか？");
        }

        // 一定スクロール時ヘッダー消える
        $(function() {
	        var headerHeight = $('header').outerHeight(),
		        startPos = 0;
	        $(window).on('load scroll', function() {
                var scrollPos = $(this).scrollTop();
                // if ( scrollPos > startPos && scrollPos > headerHeight ) {
                if ( scrollPos > startPos) {
                    $('header').css('top', '-' + headerHeight + 'px');
                } else {
                    $('header').css('top', '0');
                }
                startPos = scrollPos;
            });
        });	
    </script>

</head>
<body>
    <header>
        <div class="aaa">
            <img class="h_icon" src="{{ url_for('static', filename='images/AIT.jpeg') }}" alt="" width="50" height="50">
            <h3 class="h_title">愛工大スタンプラリー</h3>
            <a class="logout btn btn--orange btn--radius" href="{{ url_for('logout') }}" onclick="return confirmLogout()">ログアウト</a>
        </div>
        <nav id="g_navi">
            <ul>

                <li><a href="{{ url_for('stamp') }}">スタンプラリー</a></li>
                <span class="h_line"></span>
                <li><a href="{{ url_for('info_home') }}">施設情報</a></li>
                <span class="h_line"></span>
                <li><a href="{{ url_for('game') }}">カードゲーム</a></li>
            </ul>
          </nav>
    </header>


    <section>

        <div class="s_info">
            <div class="s_textarea">
                <h3 class="s_text">スタンプ獲得数: {{ total_stamps }} / 4</h3>
                <div class="s_line"></div>
            </div>

            <div class="s_area">
                <!-- <p class="">獲得したスタンプが表示される</p> -->
                <ul class="s1">
                    <li>
                        {% if stamp1_status %}
                            <a  href="{{ url_for('info1') }}"><img class="s_img" src="{{ url_for('static', filename='images/info/14号館.webp') }}" width="" height=""></a>
                            <p class="s_name">14号館</p>
                        {% else %}
                            <a  ><img class="s_img" src="{{ url_for('static', filename='images/info/?.png') }}" width="" height=""></a>
                            <p class="s_name">??????</p>
                        {% endif %} 
                    </li>
                    <li>
                        {% if stamp2_status %}
                            <a  href="{{ url_for('info2') }}"><img class="s_img" src="{{ url_for('static', filename='images/info/career.webp') }}" width="" height=""></a>
                            <p class="s_name">キャリアセンター</p>
                        {% else %}
                            <a  ><img class="s_img" src="{{ url_for('static', filename='images/info/?.png') }}" width="" height=""></a>
                            <p class="s_name">??????</p>
                        {% endif %}
                    </li>
                    <li>
                        {% if stamp3_status %}
                            <a  href="{{ url_for('info3') }}"><img class="s_img" src="{{ url_for('static', filename='images/info/aitp.jpg') }}" width="" height=""></a>
                            <p class="s_name">AITプラザ</p>
                        {% else %}
                            <a  ><img class="s_img" src="{{ url_for('static', filename='images/info/?.png') }}" width="" height=""></a>
                            <p class="s_name">??????</p>
                        {% endif %}
                    </li>
                </ul>

                <ul class="s1">
                    <li>
                        {% if stamp4_status %}
                            <a  href="{{ url_for('info4') }}"><img class="s_img" src="{{ url_for('static', filename='images/info/aiwa.webp') }}" width="" height=""></a>
                            <p class="s_name">愛和食堂</p>
                        {% else %}
                            <a  ><img class="s_img" src="{{ url_for('static', filename='images/info/?.png') }}" width="" height=""></a>
                            <p class="s_name">??????</p>
                        {% endif %} 
                    </li>
                </ul>
            </div>
        </div>

    </section>

</body>
</html>