<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>ユーザー登録</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <header>
        <div class="aaa">
            <img class="h_icon" src="{{ url_for('static', filename='images/AIT.jpeg') }}" alt="" width="50" height="50">
            <div class="aaaa">
                <h3 class="h_title">愛工大スタンプラリー</h3>
            </div>
        </div>
    </header>


    <section>
        <!-- <h1>ユーザー登録</h1>
        <form class="regi" method="POST">
            <input type="text" name="name" placeholder="ユーザー名" required>
            <input type="password" name="password" placeholder="パスワード" required>
            <button type="submit">登録</button>
        </form>
        <p class="regi"><a href="{{ url_for('home') }}">ログインはこちら</a></p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endwith %} -->

        <form class="login" method="POST">
            <h3>ユーザ登録をする</h3>
            <div class="login_area">
                <p>ユーザ名を入力してください。</p>
                <input class="l_input" type="text" name="name" placeholder="ユーザー名" required>
                <p>パスワードを入力してください。</p>
                <input class="l_input" type="password" name="password" placeholder="パスワード" required>
                <!-- <button type="submit">ログイン</button> -->
            </div>
            <button class="login_btn" type="submit">登録</button>

        </form>
        <p class="regi">アカウントをお持ちの方は</p>
        <p class="regi"><a href="{{ url_for('home') }}">ログインをする</a></p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endwith %}


    </section>
</body>
</html>
